        .login {
            background: #F9F9FE;
            width: 413px;
            padding: 25px 33px 26px 33px;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            border-radius: 8px;
        }
        
        .loginTitle {
            /* font-family: 'Poppins'; */
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 39px;
            color: #2D2E46;
            margin-bottom: 32px;
        }
        
        .loginSubtitle {
            /* font-family: Poppins; */
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            color: #2D2E46;
        }
        
        .FormBox {
            display: flex;
            flex-direction: column;
            margin-top: 38px;
        }
        
        .loginInput {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 38px;
        }
        
        .loginLabel {
            font-family: "SFUIDisplay-Regular";
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color: #24254A;
            opacity: 0.5;
        }
        
        .loginName {
            width: 347px;
            height: 48px;
            align-items: center;
            color: #2D2E46;
            border: none;
            background-color: inherit;
            border-bottom: 2px solid #24254A;
        }
        
        .inputContainer {
            position: relative;
        }
        
        .inputContainer::after {
            content: "";
            background-image: url(./../../assets/images/eye.svg);
            background-repeat: no-repeat;
            display: block;
            width: 31px;
            height: 25px;
            position: absolute;
            top: 11px;
            right: 13px;
        }
        
        .BtnTransparent {
            width: 139px;
            height: 40px;
            font-family: "SFUIDisplay-Regular";
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #2D2E46;
            border: 1px solid #F9F9FE;
            ;
            text-align: center;
            outline: none;
            text-decoration: none;
            background-color: inherit;
            margin-left: 210px;
            margin-bottom: 80px;
            cursor: pointer;
        }
        
        .BtnBlue {
            background: #21268F;
            text-align: center;
            letter-spacing: 0.01em;
            color: #ECECF9;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 266px;
            height: 36px;
            font-family: "SFUIDisplay-Medium";
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            margin: 0 auto;
            border: none;
            cursor: pointer;
            margin-bottom: 30px;
        }
        
        .linkWrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .notAccaunt {
            text-align: center;
            color: #2D2E46;
            opacity: 0.5;
            font-family: "SFUIDisplay-Semibold";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-decoration: none;
            margin-bottom: 7px;
        }
        
        .signUp {
            text-align: center;
            color: #21268F;
            font-family: "SFUIDisplay-Semibold";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
        }