.inputWrap label{
    display:block;
    height:40px;
    width: 400px;
    overflow:hidden;
    position:relative;
    padding-left: 5px;
    margin: 0;
}

.inputWrap{
    margin-bottom: 10px;
}

.superInput {
    position: absolute;
    top: 10px;
    width: 400px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.2rem;
    background: inherit;
    font-weight: 700;
    color: gray;
    padding-left: 10px;
}

.placeHolder {
    color: #38ef7d;
    background-color: inherit;
    font-size: x-small;
    padding-left: 10px;

}

.hidePlaceHolder {
    visibility: hidden;
}

.superInput~ span{
    transition:top .4s ease;
    position:absolute;
    top:20px;
    margin-bottom: 1px;

}

.superInput:focus~ span{
    margin-bottom: 1px;
    top:0;
    color: #38ef7d;
}

.superInput:focus {
    font-weight: 700;
    border-width: 5px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    padding-left: 10px;

}


.errorInput:focus {
    color: #fff;
    border-bottom: 3px solid red;
    background-color: inherit;
    padding-left: 10px;
}

.errorInput {
    position: absolute;
    top: 10px;
    font-size: 1.3rem;
    border: 0;
    outline: 0;
    border-bottom: 3px solid red;
    background-color: inherit;
    width: 100%;

}


.errorInput ~ span{
    transition:top .4s ease;
    position:absolute;
    top:20px;
}

.errorInput:focus ~ span{
    color: #38ef7d;
    margin-bottom: 1px;
    top:0;
}

.error {
    float: right;
    color: red;
    font-size: 0.9rem;
}